::-webkit-scrollbar {
    width: 1px;
    opacity: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    opacity: 0;
}

* {
    scrollbar-width: none;
}

@media screen and (max-width: 1500px) {
    .shop-sec {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1240px) {
    .add {
        right: -75vw;
    }

    .shop-sec {
        grid-template-columns: 1fr 1fr;
    }

    .foot2,
    .foot3 {
        padding: 50px 100px;
    }
}

@media screen and (min-width: 950px) {
    .hero-section {
        height: 800px;
    }

    .shop-sec {
        margin-top: -450px;
    }
}

@media screen and (max-width: 1100px) {
    .navbar>:nth-last-child(2) {
        display: none;
    }

    .foot3 {
        grid-template-columns: 1fr 1fr;
        min-height: 30vh;
    }

    .foot2 {
        grid-template-columns: 1fr 1fr;
        min-height: 30vh;
    }
}

@media screen and (max-width: 950px) {
    .navbar>:nth-child(3) {
        display: none;
    }

    .navbar>:nth-child(5) {
        display: none;
    }

    .nav-cart span {
        display: none;
    }



    .carousel-btn {
        top: 25%;
    }
}

@media screen and (max-width: 700px) {
    .shop-sec {
        grid-template-columns: 1fr;
        gap: 3px;
    }

    .nav-content>:nth-child(1) {
        display: none;
    }

    .nav-content {
        padding-left: 0;
    }

    .foot2,
    .foot3 {
        grid-template-columns: 1fr;
        min-height: 60vh;
    }

    .shop-sec>div {
        max-width: 450px;
        min-width: 410px;
        margin: auto;
    }

    .navbar>:nth-child(7) {
        display: none;
    }

    .navbar>:nth-child(4) {
        display: none;
    }

    .search {
        border-radius: 10px;
        margin-top: 49.5px;
        width: 100%;
        display: block;
    }

    .toogle {
        padding: 10px 10px 10px 5px;
        display: block;
    }

    .signIn {
        display: block;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
        background-color: #1f2a37;
        max-height: 50px;
    }

    .nav-search {
        background-color: #1f2a37;

    }

    .nav-content {
        background-color: #1f2a37
    }

    .navbar>:nth-child(1) {
        position: absolute;
        left: 0;
    }

    .navbar>:nth-child(2) {
        position: absolute;
        left: 30px;
        top: -2px;
    }

    .navbar>:nth-last-child(1) {
        position: absolute;
        right: 0px;
    }

    .navbar>:nth-last-child(4) {
        position: absolute;
        right: 80px;
    }

    .nav-content {
        margin-top: -2.2px;

    }

    .search-input {
        min-height: 36px;
    }

    .nav-content>div {
        padding: 10px 15px;
    }

    .grid>div {
        border-radius: 4px;
    }

    .boxsecond {
        border-radius: 5px;
    }

    .nav-search>:nth-child(1) {
        display: none;
    }

    .nav-search>:nth-child(3) {
        margin-right: 10px;
    }

    .search-input {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .nav-search>:nth-child(2) {
        margin-left: 10px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .search-icon {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media screen and (max-width: 600px) {
    .shop-sec>div {
        padding: 15px;
        max-width: 450px;
        min-width: 350px;
        margin: auto;
    }

    .foot2,
    .foot3 {
        padding: 20px;
    }

    .foot2 {
        min-height: 90vh;
    }

    .foot2 a {
        line-height: 20px;
    }

    .shop-sec {
        padding: 20px 0;
    }

    .foot5 p {
        font-size: 10px;
    }

    .logo {
        width: 110px;
    }

    .nav-cart {
        margin-right: 12px;
    }

    .navbar>:nth-last-child(4) {
        position: absolute;
        right: 60px;
    }


}

@media screen and (max-width: 500px) {
    .shop-sec>div {
        min-width: 95%;
        padding: 8px;
    }
}

@media screen and (max-width: 400px) {
    .hero-section {
        height: 300px;
    }
}